// color variable
$primary :#5850EC;
$secondary : #F0F5FF;
$white-color:#FFFFFF;
$border-color:#E5EDFF;
$transparent:transparent;

//font size 
$size-xs:12px ;
$size-sm:14px ;
$size-md: 14px;
$size-lg: 16px;
$size-xl:16px ;

// shape radius
$shape-round : 8px;
$shape-simple : 1px;
$shape-circle : 999px;
$default:6px;

// padding variable
$padding-xs: 4px 8px;
$padding-sm: 7px 12px ;
$padding-md: 11px 16px;
$padding-lg: 14px 20px;
$padding-xl:17px 24px;

// font-weight variable
$font-weight-500:500;
